

// colors
$white: #fff;
$platinum:#e6e7e7;
$lightgray: #d1d1d1;
$fuzzywuzzy: #e56353;
$ruddypink: #d76c69;
$spanishpink: #ecbcba;
$eerieblack: #121619;
$raisinblack: #222323;
$nickel: #6C6E70;

// fonts

$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;
$regular: 400;
$light: 300;
$bold: 700;
$xxlarge: 4.375rem; //70px
$xlarge: 1.875rem; //30px
$large: 1.125rem; //18px
$medium: 1rem; //16px
$small: 0.75rem; //12px
