.paginator{

  background-color: $platinium;
  padding-top: 18%;
  padding-bottom: 18%;
  
}

.page-item {
  &:first-child .page-link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  &:last-child .page-link {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .page-link {
    color: $eerieblack;
    max-height: 36px;
  }
  

  &.active .page-link {
    background-color: $eerieblack;
    color: $white;
  }

}
@media screen and (min-width: 768px) {
  .paginator {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .page-item.active .page-link {
    background-color: $nickel;
  }
  .page-link {
    max-height: 40px;
  }
}
