.contenido__botonera{
  display: flex;
  justify-content: center;
  margin-bottom: 9.8vh;
  .contenido__boton{
    border-radius: 50px;
    margin-right: 12px;
    
    &:hover {
      background-color: $lightgray;
      border-color: $lightgray;
    }
  }
}
@media screen and (min-width: 768px) {
  .contenido__botonera{
    display: block;
    margin-bottom: 12vh;
  }
} 